{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Краткая инструкция</h1>
        <h2>Оператор (сотрудник магазина)</h2>
        <ol>
            <li>Авторизоваться</li>
            <li>Выбрать вкладку "Ценники" в шапке сайта</li>
        </ol>
        <h2>Сотрудник технической поддержки</h2>
        <ol>
            <li>Авторизоваться</li>
            <h3>Добавление ценника:</h3>
            <ol>
                <li>Выбрать вкладку "ДОбавить новый ценник" в шапке сайта</li>
                <li>Ввести серийный номер, указанный на ценнике, в поле "серийный номер"</li>
                <li>Выбрать товары, которые будут отображаться на ценнике</li>
                <li>Нажать кнопку "Добавить ценник"</li>
            </ol>
            <h3>Удаление ценника:</h3>
            <ol>
                <li>Выбрать вкладку "Убрать ценник" в шапке сайта</li>
                <li>Выбрать ценник(и), которые необходимо убрать</li>
                <li>Нажать кнопку "Убрать"</li>
            </ol>
        </ol>
    </div>
</div>
{% endblock %}